@font-face {
  font-family: "earfline";
  src: url("../../public/fonts/Earfline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "henri";
  src: url("../../public/fonts/HenriDidot.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vanity";
  src: url("../../public/fonts/Vanity-BoldNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "Poppins";
  background-color: #f5f5dc;
}

code {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    "Poppins";
}
